:root {
  --font: "Goldman", sans-serif;
  --font-color: #E4FDE1;
  --action: #F3B391;
  --main: #114B5F;
  --secondary: #028090;
}


.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body{
  margin: 0;
  background-color: #114B5F;
  height: 300vh;
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
  position: relative;
  box-sizing: border-box;
}

.svg-triangle{
  height: 150px;
  width: 100%;
}

.flex{
  display: flex;
}

.column{
  display: column;
}



.nav-progress-container{
  container-type: inline-size;
  container-name: navigation;
  position: relative;
  width: 80px;
  z-index: 3;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigation{
  display: flex;
}

.progress-right-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 2rem;
}

.progress-right{
  width: 100px;
  height: 20px;
  background-color: var(--action);
}

.nav-circle{
  position: relative;
  width: 80cqi;
  height: 80cqi;
  
  border: 2px solid var(--action);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  z-index: 2;
  background-color: var(--main);
  
}

.nav-progress{
  position: absolute;
  width: 20cqi;
  height: 78%;
  margin-top: 3rem;
  border: 0.10rem solid var(--action);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.svg-line{
  
  height: 100vh;
  left: 300px;
  
}

.svg-container{
  position: absolute;
  height: 100vh;
  
  z-index: -2;
}

#line1{
  left: 10%;
}

#line2{
  left: 20%;
}

#line3{
  left: 30%;
}

#line4{
  left: 40%;
}

#line5{
  left: 50%;
}

#line6{
  left: 60%;
}

#line7{
  left: 70%;
}

#line8{
  left: 80%;
}

#line9{
  left: 90%;
}

main{
  display: flex;
}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .nav-progress-container{
      width: 40px;
      margin-left: 10px;
    }
    .svg-triangle{
      height: 100px;
    }
    .home-section{
      height: calc(100vh - 100px);
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .nav-progress-container{
    width: 40px;
    margin-left: 15px;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .nav-progress-container{
    width: 40px;
    margin-left: 20px;
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .nav-progress-container{
    width: 50px;
    margin-left: 25px;
  }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .nav-progress-container{
    width: 80px;
  }
 } 